.contactMe {
  margin-top: 10px;
  width: 90%;
  margin: auto;
}

.contactMe h1 {
  text-align: center;
  border-bottom: 7px solid yellow;
  margin: 4% 42% 2% 42%;
}

.contactMe img {
  height: 25px;
  width: 25px;
}

.contactMe-flex {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 15px;
}

.contactMe-text {
  padding: 120px 100px 100px 40px;
}

.contactMe-text .para,
h3 {
  margin-bottom: 20px;
}

.contactMe-text div {
  display: flex;
  margin: 15px;
}

.contactMe-text div p {
  margin-left: 10px;
  color: gray;
}

.contactForm {
  background: wheat !important;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}
.contactForm h2 {
  padding-bottom: 15px;
}

.contactForm input,
textarea {
  display: block;
  width: 300px;
  margin: 5px 0px 15px 0px;
  padding: 3px;
}
