.navbar {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #fbf3e4;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  border-color: #b9164614;
  margin: 2px;
}
.navbar h1 {
  margin: 20px 5px;
  color: #105652;
}

.sub-navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.sub-navbar li {
  margin: 30px 20px;
  color: #424242;
}
.sub-navbar a {
  text-decoration: none;
  color: #424242;
}

.sub-navbar a:hover {
  color: bisque;
}
.expandNavbar {
  display: none;
}
@media screen and (min-width: 200px) and (max-width: 920px) {
  .sub-navbar {
    display: none;
    padding: 0px !important;
    margin: 0px !important;
  }
  .expandNavbar {
    display: block;
  }
  .side-nav {
    display: block !important;
    position: absolute;
    /* z-index: 3; */

    position: absolute;
    background-color: rgb(241, 248, 246);
    right: 0%;
    width: 80%;
    height: 100vh;
  }
  .expandNavbar button {
    margin-top: 25px;
    border: none;
  }
  .expandNavbar a,
  i {
    /* display: inline-block; */
    /* flex-direction: column; */
    padding: 10px 15px 10px 0px;
    margin-left: 20px;
  }
  .side-nav div {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
